*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
	background-color: #222;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	margin: 50px auto;
	width: 75%;
}

header h1{
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}

.according{
	background-color: #333;
	width: 879px;
	min-width: 800px; 
	display: block;
	list-style-type: none;
	overflow: hidden;
	height: 200px;
}

.tab{
	display: inline-block;
	background-color: #444;
	border-right: #333 solid 1px;
	width: 80px;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin: 0;
	transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover{
	width: 450px;
}

.tab:hover .social a:before{
	margin-left: -100px;
}

.tab:hover .social a:after{
	margin-left: -5px;
}

.tab .content{
	background-color: #fff;
	width: 360px;
	height: 200px;
	margin-left: 80px;
	position: relative;
	padding: 50px 0 0 15px;
}

.tab .content h1{
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.tab .content p{
	font-size: 0.85rem;
	line-height: 1.4rem;
	padding-right: 30px;
}

.social a:before, 
.social a:after{
	transition: all 0.4s ease-in-out 0.1s;
	width: 80px;
	height: 200px;
	position: absolute;
	text-indent: 0;
	/*gray icon version*/
	padding-top: 90px;
	padding-left: 25px;
	/*end of gray icon version*/
	display: block;
	font-family: 'Font Awesome 5 Brands';
	font-weight: 400;
	color: #fff;
	font-size: 28px;
}

.social a:after{
	/*color icon version*/
	font-size: 48px;
	padding-left: 20px;
	padding-top: 80px;
	margin-left: 85px;
	/*end of color icon version*/
}

/* Add icons*/
/*facebook*/
.facebook a:before,
.facebook a:after{
	content: '\f09a';
}

.facebook a:after{
	background-color: #3b5999;
}

/*instagram*/
.instagram a:before,
.instagram a:after{
	content: '\f16d';
}

.instagram a:after{
	background-color: #e4405f;
}

/*linkedin*/
.linkedin a:before,
.linkedin a:after{
	content: '\f08c';
}

.linkedin a:after{
	background-color: #0077B5;
}

/*jobteaser*/
.jobteaser a:before,
.jobteaser a:after{
	content: '\f3b7';
}

.jobteaser a:after{
	background-color: #00c300;
}

/*stack Overflow*/
.stackOverflow a:before,
.stackOverflow a:after{
	content: '\f16c';
}

.stackOverflow a:after{
	background-color: #f48024;
}

/*github*/
.github a:before,
.github a:after{
	content: '\f09b';
}

.github a:after{
	background-color: #333;
}